{
	"commandName": "wp-env-bin",
	"pluginName": "",
	"siteType": "singlesite",
	"env": "",
	"url": "",
	"oldPrefix": "",
	"siteId": "",
	"adminUsername": "admin",
	"adminEmail": "admin@localhost.com",
	"adminPassword": "password",
	"test-paths": []
}
