{
	"$schema": "https://raw.githubusercontent.com/hadamlenz/wp-env-bin/refs/heads/main/schemas/wp-env-bin.config.schema.json",
	"pluginName": "",
	"siteType": "singlesite",
	"composerPath":"/path/to/composer.json",
	"env": "",
	"url": "",
	"oldPrefix": "",
	"siteId": "",
	"adminUsername": "admin",
	"adminEmail": "admin@localhost.com",
	"adminPassword": "password",
	"test-paths": []
}
