{
	"commandName": "wp-env-bin",
	"pluginName": "",
	"containerAssetsPath": "/var/www/html/wp-content/wp-env-bin",
	"siteType": "singlesite",
	"env": "",
	"url": "",
	"oldPrefix": "",
	"siteId": "",
	"adminUsername": "admin",
	"adminEmail": "admin@localhost.com",
	"adminPassword": "password"
}
